extends layout

block content
	h1 NJ SSBM
	div.row
		div(class="col-md-3")
			h2 Locals
			h4 events from #{beans[0].date} to #{beans[6].date}
			if beans.length
				each day in beans
					each local in day.evs
						div(style='margin-top:15px')
							div(class='card border-dark mb-3')
								div(class="card-header") #{local.eventName} - #{day.date}
								div(class="card-body" style="display:none")
									p(class="card-text")
										p(style='max-height:200px;overflow-y:scroll') !{local.description}
				else
					p No upcoming locals :(
		div(class="col-md-3")
			h2 Events
			if evos.length
				each evnt in evos
					div(class="card border-dark mb-3" style="margin-top:10px;")
						div(class="card-header") #{evnt.eventName} - #{evnt.eventDate}
						div(class="card-body" style="display:none")
							p(class="cart-text")
								a(href=evnt.pageLink target="_blank") Event Link
							p(class="card-text") 
								p(style='max-height:200px;overflow-y:scroll') !{evnt.description}			
			else
				p No upcoming events :(	
		div(class="col-md-3")
			h2 Social Media
			div(class='card border-dark mb-3')
				a(href="https://discord.gg/hmn7Gpr" target="_blank") 
					div(class="card-header") NJSSBM Discord Server
			if facebook.length
				h3 Facebook
				each fb in facebook
					div(class='card border-dark mb-3')
						a(href=fb.url target="_blank") 
							div(class="card-header") #{fb.pageName}
			if discord.length
				h3 Discord
				each fb in discord
					div(class='card border-dark mb-3')
						a(href=fb.url target="_blank")
							div(class="card-header") #{fb.pageName}
			if twitch.length
				h3 Twitch
				each fb in twitch
					div(class='card border-dark mb-3')
						a(href=fb.url target="_blank") 
							div(class="card-header") #{fb.pageName}
			if twitter.length
				h3 Twitter
				each fb in twitter
					div(class='card border-dark mb-3')
						a(href=fb.url target="_blank") 
							div(class="card-header") #{fb.pageName}
			if youtube.length
				h3 YouTube
				each fb in youtube
					div(class='card border-dark mb-3')
						a(href=fb.url target="_blank")
							div(class="card-header") #{fb.pageName}
			if instagram.length
				h3 Instagram
				each fb in instagram
					div(class='card border-dark mb-3')
						a(href=fb.url target="_blank")
							div(class="card-header") #{fb.pageName}
			if mixer.length
				h3 Mixer
				each fb in mixer
					div(class='card border-dark mb-3')
						a(href=fb.url target="_blank")
		div(class="col-md-3")
			a(class="twitter-timeline" href="https://twitter.com/NjSsbm?ref_src=twsrc%5Etfw") Tweets by NjSsbm
			script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")